{{- $dest := .Destination -}}
{{- $alt := .Text | default "" -}}
{{- $title := .Title -}}

{{- $src := $dest -}}

{{- $isAbs := or
    (strings.HasPrefix $dest "http://")
    (strings.HasPrefix $dest "https://")
    (strings.HasPrefix $dest "//")
    (strings.HasPrefix $dest "data:")
-}}

{{- if and (not $isAbs) .Page.File -}}
  {{- $dir := strings.TrimSuffix "/" .Page.File.Dir -}}
  {{- $slug := .Page.File.ContentBaseName -}}

  {{- /* media path: posts/YYYY/MM/slug/image.webp */ -}}
  {{- $mediaPath := printf "%s/%s/%s" $dir $slug $dest -}}

  {{- with site.Params.mediaBaseURL -}}
    {{- $base := strings.TrimSuffix "/" . -}}
    {{- $src = printf "%s/%s" $base (strings.TrimPrefix "/" $mediaPath) -}}
  {{- end -}}
{{- end -}}

<img
  src="{{ $src }}"
  alt="{{ $alt }}"
  {{- with $title }} title="{{ . }}"{{ end -}}
  loading="lazy"
  decoding="async"
/>
