<header class="site-header">
  <div class="site-header__inner">
    <a class="site-logo" href="{{ "/" | relURL }}">
      <span class="site-logo__mark"></span>
      <span class="site-logo__text">{{ .Site.Title }}</span>
    </a>
    <nav class="site-nav" aria-label="Main">
      {{ range .Site.Menus.main }}
        {{- $isExternal := or (strings.HasPrefix .URL "http://") (strings.HasPrefix .URL "https://") (strings.HasPrefix .URL "//") -}}
        {{- $href := cond $isExternal .URL (.URL | relURL) -}}
        <a class="site-nav__link" href="{{ $href }}">{{ .Name }}</a>
      {{ end }}
      <a class="site-nav__link" href="{{ "index.xml" | relURL }}">RSS</a>
    </nav>
  </div>
</header>
